
<h1>All Dogs</h1>

  <% if params[:sort] == "true" or  params[:sort] == nil%>
  <%= link_to "Sort by Number of Owners ⬇", "/dogs?sort=false" %>
  <% @dogs = @dogs.sort_by{|dog| dog.employee_count} %>
  <% end %>

  <% if params[:sort] == "false" %>
  <%= link_to "Sort by Number of Owners ⬆", "/dogs?sort=true" %>
  <% @dogs = @dogs.sort_by{|dog| dog.employee_count}.reverse %>
  <% end %>

  <% @dogs.each do |dog| %>
    <ul>
      <li><%= link_to dog.name, dog %>: <%=dog.employee_count%></li>
    </ul>
  <% end %>
